# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Lab2/Monte Carlo Pi Algorithm/.idea/editor.xml
*.iml
Lab3/Shared Pointers/.idea/vcs.xml
Lab3/Shared Pointers/CMakeLists.txt
Lab3/Shared Pointers/.idea/modules.xml
Lab2/Monte Carlo Pi Algorithm/.idea/editor.xml
Lab3/Shared Pointers/.idea/.name
Lab3/Shared Pointers/.idea/editor.xml
Lab3/Shared Pointers/.idea/misc.xml
Lab2/Monte Carlo Pi Algorithm/.idea/editor.xml
Lab2/Monte Carlo Pi Algorithm/.idea/editor.xml
/Lab2/Monte Carlo Pi Algorithm/.idea
